.app h3{
  text-align: center;
  max-width: 100%;
  background-color: palegreen;
}
.app{
  margin: 2% 35%;
  background-color: palegoldenrod;
}

.UserForm > div{
  margin: 3% 3%;
  margin-top: 25px;
}

.UserForm input[type='text'], select{
  float: right;
}

.ErrorMessage{
  margin-top: 2%;
  text-align: right;
  color:red
}

textarea{
  width: 100%;
  height: 70px;
}

select{
  width: 150px;
}

.Button{
  margin-bottom: 2%;
}